.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aminoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.inputContainer {
  margin-top: 0.5rem;
  label {
    margin: 0.5rem;
  }

  input {
    width: 4rem;
  }
}